@media screen and (max-width: 1300px)
  .bio-main
    .bio-wrapper-outer
      .bio-wrapper-inner
        .bio-img
          width: 35%
        .bio-text
          width: 65%

@media screen and (max-width: 1200px)
  .bio-main
    font-size: 17px
    .bio-wrapper-outer
      .bio-wrapper-inner
        .bio-img
          width: 30%
        .bio-text
          width: 70%

@media screen and (max-width: 1050px)
  .performances-main
    .events-body
      width: 100%
  .bio-main
    margin: 50px 10px 5px 10px

@media screen and (max-width: 1000px)
  .contact-main
    font-size: 16px
  .header
    .header-nav
      display: none
  .header-ham-wrap
    display: flex
  .players-wrapper-main
    .player-section
      width: 70%
  .bio-main
    margin: 50px 5px 5px 5px
    font-size: 16px
    .bio-wrapper-outer
      .bio-wrapper-inner
        .bio-img
        .bio-text

@media screen and (max-width: 900px)
  .bio-main
    margin: 0px 0px 0px 0px
    .bio-wrapper-outer
      .bio-wrapper-inner
        border-radius: 0
        flex-direction: column
        .bio-img
          width: 100%
        .bio-text
          width: 100%
          p
            padding: 15px 10px

@media screen and (max-width: 815px)
  .header-nav
    .home-btn
      display: none
  .multimedia-main
    padding-right: 0
    padding-left: 0

@media screen and (max-width: 750px)
  .header
    .left-author
      h1
        font-size: 25px
      .sub-author
        h3
        left: 40px

  .multimedia-main
    .v-player-section
      width: calc(100% - 22px)
      .v-text
        text-align: justify
      .v-player-main
        // width: 100%
        video
          width: 100%
        .v-controls
          min-width: 100px
          width: 100% !important
  .players-wrapper-main
    padding-left: 0px
    padding-right: 0px
    align-items: center
    .player-section
      width: calc(100% - 8px)
      margin-left: 4px
      margin-right: 4px
    .players-heading
      margin: 0
      width: 100%

  .performances-main
    padding-right: 0
    .events-body
      font-size: 15px
    .performances-heading
      width: 100%
    .events-body
      width: 100%

@media screen and (max-width: 650px)
  .contact-main
    .contact-wrapper
      margin-top: -20%
      .contact-text
        margin-left: 5%

@media screen and (max-width: 600px)
  .performances-main
    .events-body
      font-size: 14px

@media screen and (max-width: 550px)
  .main-wrap
    width: 80%
  .contact-main
    .bio-image
      z-index: -5
      opacity: 0.4
      height: 100%
      top: 0
      right: 0
      left: 0
      background-size: cover
    .bio-text
      margin-left: 0
      margin-top: 20%

@media screen and (max-height: 500px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 15px 20px 15px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-width: 480px)
  .players-wrapper-main
    .player-section
      width: 100%

@media screen and (max-width: 450px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          padding-right: 10px

@media screen and (max-height: 430px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 10px 20px 10px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-width: 400px)
  .players-wrapper-main
    .player-section
      width: 99%

  .performances-main
    .events-body
      font-size: 13px

@media screen and (max-width: 375px)
  .multimedia-main
    .v-player-section#one
      .v-player-main
        .v-controls
          .v-info-section
            .v-info-name
              p#v-info-title
                font-size: 13px

@media screen and (max-width: 370px)
  .performances-main
    .events-body
      .events-body-main
        .events-left
          width: 25%
        .events-mid
          width: 50%
        .events-right
          width: 25%

@media screen and (max-width: 350px)
  .main-wrap
    width: 100%
  .header
    height: 60px
    .left-author
      h1
        font-size: 20px
        margin-top: 5px
        margin-left: 5px
      .sub-author
        h3
          font-size: 12px
        top: 15px
        left: 20px
    .header-ham-wrap
      top: 0
  .multimedia-main
    .v-player-section
      .v-player-main
        .v-controls
          .v-info-section
            .v-info-name
              padding-left: 10px
            .v-info-time
              padding-right: 15px

@media screen and (max-height: 320px)
  .header-overlay-buttons
    .mobile-button-type
      margin: 4px 20px 4px 20px
    .mobile-home-btn
      margin-top: 50px

@media screen and (max-width: 300px)
  .players-wrapper-main
    .player-main
      .info-section
        .info-time
          display: none

@media screen and (max-width: 280px)
  .header
    .left-author
      display: none
